<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
        <!-- JQuery -->
        <script>window.$ = window.jQuery = require('../../../../lib/jquery/jquery.min.js') ;</script>
        <script src="../../../../lib/jquery/jquery-ui/jquery-ui.min.js" charset="utf-8"></script>
        <!-- PIXI -->
        <script src="../../../../lib/pixi/pixi.min.js" charset="utf-8"></script>
        <!-- Sources -->
        <script src="GameScreen.js" charset="utf-8"></script>

        <!-- STYLES -->
        <link rel="stylesheet" href="game.css"/>
        <!-- JQuery -->
        <link rel="stylesheet" href="../../../../lib/jquery/jquery-ui/jquery-ui.min.css"/>
        <link rel="stylesheet" href="../../../../lib/jquery/jquery-ui/jquery-ui.theme.min.css"/>
        <link rel="stylesheet" href="../../../../lib/jquery/jquery-ui/jquery-ui.structure.min.css"/>
    </head>

    <body>
        <div id="GameScreen"></div>
    </body>
</html>
